.padrao{
    height: 278px;
}
.logo01{
    height: 230px;
}
.logo02{
    height: 230px;
}
.logo03{
    height: 230px;
}
.logo04{
    height: 230px;
}
.logo05{
    height: 230px;
}
.logo06{
    height: 115px;
}
.sub04{
    height: 115px;
}
.sublogo04{
    height: 115px;
}
.corpo01{
    height: 300px;
}
.corpo001{
    height: 150px;
}
.conteudo{
    height: 954px;
}
.conteudo01{
    height: 462px;
}
.rodape00{
    height: 132px;
}
.RPrincipal{
    height: 60px;
}
.rodape01{
    height: 132px;
}
.rodape02{
    height: 132px;
}